- name: Check current Consul version
  shell:
    cmd: consul version -format json || echo '{"Version":"none"}'
  register: installed_consul_version
  changed_when: false

# Not properly detecting the current version in this alpha, so it's downloading this binary everytime.
# It's slow and a waste of bandwidth, so comment this until we intend to upgrade.
#
- name: Install Consul {{ consul_version }}
  unarchive:
    src: https://releases.hashicorp.com/consul/{{ consul_version }}/consul_{{ consul_version }}_linux_arm64.zip
    dest: /usr/local/bin
    remote_src: true
  become: true
  when: (installed_consul_version.stdout | from_json).Version != consul_version
  notify: Restart Consul service

- name: Ensure Consul data directory exists
  file:
    path: /var/lib/consul2
    state: directory
    mode: 0755
    owner: root
    group: root
  become: true

- name: Install Consul config file
  template:
    src: etc_consul.hcl.j2
    dest: /etc/consul.hcl
    mode: 0644
    owner: root
    group: root
  become: true
  notify: Restart Consul service

- name: Remove tokens config file
  file:
    path: /etc/consul.tokens.hcl
    state: absent
  notify: Restart Consul service

- name: Install Consul systemd unit
  copy:
    src: consul.service
    dest: /usr/lib/systemd/system/consul.service
    mode: 0644
    owner: root
    group: root
  become: true
  notify: Restart Consul service

- name: Ensure Consul service is started
  systemd:
    name: consul
    enabled: true
    state: started
  become: true

- name: Check current consul-template version
  shell:
    cmd: consul-template -version 2>&1 | grep -oP '(?<=consul-template v)([^ ]+)' || echo "none"
  register: installed_consul_template_version
  changed_when: false

- name: Install consul-template {{ consul_template_version }}
  unarchive:
    src: https://releases.hashicorp.com/consul-template/{{ consul_template_version }}/consul-template_{{ consul_template_version }}_linux_arm64.zip
    dest: /usr/local/bin
    remote_src: true
  become: true
  when: installed_consul_template_version.stdout != consul_template_version
  notify: Restart consul-template service

- name: Create consul-template.d directory
  file:
    path: /etc/consul-template.d
    state: directory
    mode: 0755
    owner: root
    group: root
  become: true

- name: Install consul-template systemd unit
  copy:
    src: consul-template.service
    dest: /usr/lib/systemd/system/consul-template.service
    mode: 0644
    owner: root
    group: root
  become: true
  notify: Restart consul-template service

- name: Install consul-template config file
  template:
    src: etc_consul-template.hcl.j2
    dest: /etc/consul-template.d/config.hcl
    mode: 0644
    owner: root
    group: root
    variable_start_string: "[["
    variable_end_string: "]]"
  become: true
  notify: Reload consul-template service

- name: Install consul-template environment file
  template:
    src: consul-template.env.j2
    dest: /etc/consul-template.env
    mode: 0600
    owner: root
    group: root
  notify: Restart consul-template service

- name: Ensure consul-template service is started
  systemd:
    name: consul-template
    enabled: true
    state: started
  become: true
