[Unit]
Description=Loki log aggregator

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/loki/loki-linux-arm -config.file=/deploy/pi-tools/etc/loki.yml

[Install]
WantedBy=multi-user.target
