[Unit]
Description=Alertmanager for Prometheus

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/alertmanager/alertmanager --web.external-url=http://alertmanager/ --cluster.listen-address=
WorkingDirectory=/usr/local/alertmanager

[Install]
WantedBy=multi-user.target
