; BIND data file for homelab zone, when served from a Tailscale IP
$TTL  1m
@   IN  SOA localhost. matt.mattmoriarity.com. (
                  1
                 1m     ; Refresh
                 1h             ; Retry
                 1w             ; Expire
                 1h )   ; Negative Cache TTL
@   IN  NS  localhost.
{% for host, hvars in hostvars.items() %}
{% if host not in groups.jails %}
{{ host }}  IN  A  {{ hvars.tailscale_ip }}
{% endif %}
{% endfor %}
;<< range service "ingress-http" >>
*.homelab.  0  IN  A << .NodeMeta.tailscale_ip >><< end >>
{% for jail in hostvars.artemis.jails %}
{{ jail.name }}  IN  A  {{ jail.ips[0].split("|")[1] }}
{% endfor %}
unifi       IN  A 10.0.0.1
nas         IN  A 100.92.81.90
mars        IN  A 100.117.39.47
localhost   IN  A 127.0.0.1
