service {
  name    = "homelab"
  port    = 4000
  address = "10.0.2.114"

  checks = [
    {
      name     = "homelab is ready"
      http     = "http://10.0.2.114:4000/healthz"
      interval = "30s"
      timeout  = "5s"
    }
  ]

  token = "{{ consul_agent_token }}"
}
