service {
  name    = "homelab"
  port    = 4000
  address = "10.0.2.114"

  checks = [
    {
      name     = "homelab is ready"
      http     = "http://10.0.2.114:4000/healthz"
      interval = "10s"
      timeout  = "5s"

      failures_before_critical = 3
    }
  ]
}
