service {
  name    = "minio"
  port    = 9000
  address = "10.0.2.103"

  meta = {
    metrics_path = "/minio/v2/metrics/cluster"
  }

  checks = [
    {
      name     = "minio is ready"
      http     = "http://10.0.2.103:9000/minio/health/cluster"
      interval = "15s"
      timeout  = "10s"
    }
  ]

  token = "{{ consul_agent_token }}"
}
