service {
  name    = "named"
  id      = "named:artemis:local"
  address = "10.0.2.101"
  port    = 53

  checks = [
    {
      name     = "resolve artemis.home.mattmoriarity.com"
      args     = ["/usr/bin/drill", "@10.0.2.101", "artemis.home.mattmoriarity.com"]
      interval = "30s"
      timeout  = "15s"
    }
  ]
}
