service {
  name = "node-exporter"
  id   = "node-exporter:artemis"
  port = 9100

  meta = {
    metrics_path = "/metrics"
  }

  checks = [
    {
      name     = "node-exporter HTTP"
      http     = "http://10.0.2.10:9100/"
      interval = "30s"
      timeout  = "5s"
    }
  ]
}
