service {
  name    = "postgresql"
  port    = 5432
  address = "10.0.2.102"

  checks = [
    {
      name     = "postgresql is accepting connections"
      args     = ["/usr/local/bin/pg_isready", "-h", "10.0.2.102"]
      interval = "30s"
      timeout  = "5s"
    }
  ]
}
