- name: Install necessary packages
  package:
    name: '{{ item }}'
    state: present
  loop:
    - bash
    - git
    - gtar
    - openjdk11-jre
    - bazel
    - node14
    - yarn-node14

- name: Create teamcity group
  group:
    name: teamcity
    system: true

- name: Create teamcity user
  user:
    name: teamcity
    group: teamcity
    system: true
    home: /opt/TeamCity
    create_home: false

- name: Create /opt directory
  file:
    path: /opt
    state: directory
    mode: 0755
    owner: root
    group: wheel

- name: Install TeamCity 2021.1.1
  unarchive:
    src: https://download.jetbrains.com/teamcity/TeamCity-2021.1.1.tar.gz
    dest: /opt
    remote_src: true
    creates: /opt/TeamCity
    owner: teamcity
    group: teamcity

