[Unit]
Description=Prometheus monitoring framework

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/prometheus/prometheus --config.file=/deploy/pi-tools/etc/prometheus.yml --web.external-url=http://prometheus/
WorkingDirectory=/usr/local/prometheus

[Install]
WantedBy=multi-user.target
