server   = true
data_dir = "/var/lib/consul2"

bootstrap_expect = 3
retry_join       = ["10.0.0.2", "10.0.0.3", "10.0.0.4"]

advertise_addr = "{{ ansible_default_ipv4.address }}"
client_addr    = "0.0.0.0"

node_meta {
  tailscale_ip = "{{ tailscale_ip }}"
}

ports {
  grpc = 8502
}

connect {
  enabled = true
}

telemetry {
  "disable_compat_1.9"      = true
  disable_hostname          = true
  prometheus_retention_time = "5m"
}

ui_config {
  enabled          = true
  metrics_provider = "prometheus"
  metrics_proxy {
    base_url = "http://prometheus.service.consul:9090"
  }
{% raw %}
dashboard_url_templates {
service = "https://grafana.home.mattmoriarity.com/d/heHhNSFf6Na8vIZWRs8H/envoy-global?orgId=1&refresh=10s&var-datasource=Prometheus&var-Namespace=default&var-Service={{Service.Name}}"
}
{% endraw %}
}
