server = true
data_dir = "/var/lib/consul"

bootstrap_expect = 3
retry_join = ["10.0.0.2", "10.0.0.3", "10.0.0.4"]

advertise_addr = "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"
client_addr = "0.0.0.0"

node_meta {
  tailscale_ip = "{{ hostvars[inventory_hostname]['tailscale_ip'] }}"
}

ports {
  grpc = 8502
}

connect {
  enabled = true
}

ui_config {
  enabled = true
}
