data_dir = "/var/lib/nomad"

server {
  enabled = true
  bootstrap_expect = 3
}

client {
  enabled = true

  host_volume "postgresql_0" {
    path = "/srv/mnt/postgresql-0"
    read_only = false
  }

  host_volume "promtail_run" {
    path = "/run/promtail"
    read_only = false
  }

{% if inventory_hostname == "10.0.0.2" %}
  host_volume "prometheus_data" {
    path = "/srv/nfs/kubernetes/monitoring/prometheus-data"
    read_only = false
  }

  host_volume "alertmanager_data" {
    path = "/var/lib/alertmanager"
    read_only = false
  }
{% endif %}

  meta {
    "connect.sidecar_image" = "envoyproxy/envoy:v1.16.2"
  }
}

vault {
  enabled = true
  address = "http://127.0.0.1:8200"
  create_from_role = "nomad-cluster"
}

plugin "docker" {
  config {
    infra_image = "rancher/pause:3.2"
    allow_privileged = true
    allow_caps = ["CHOWN", "DAC_OVERRIDE", "FSETID", "FOWNER", "MKNOD", "NET_RAW", "NET_ADMIN", "SETGID", "SETUID", "SETFCAP", "SETPCAP", "NET_BIND_SERVICE", "SYS_CHROOT", "KILL", "AUDIT_WRITE"]

    volumes {
      enabled = true
    }
  }
}
